h1{
    text-align: center;
}
.productos {
	margin: 50px 0;
	padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
}
.producto {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 400px;
    box-shadow: 5px 5px 5px 5px #0505052d;
    padding: 10px;
    border-radius: 3%;
    margin: 15px 0;
}

.producto:hover{
    border: 2px solid  #193452;
}

.producto img {
	display: block;

    width: 100%;
    height:160px;
}
.producto h3 {
	font-size: 24px;
	margin: 20px 0 10px 0;
}
.producto p {
	font-size: 16px;
	margin: 0;
}


.btn:hover{
   border: 2px solid  #193452;
}

footer{
    width: 100%;
    background-color: #fff;
	color: #193452;
	padding: 10px;
    text-align: center;
}

/* products.html */

.formSearch{
    width: 100%;
    height: 50px;
}

.formSearch > input {
    display: block;
    width: 80%;
    margin: auto;
    border: #193452;
    border-radius: 3%;
    padding: 12px;
}